.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:60%;
    font-size: 1.4em;
    margin: auto;
    background-color: aliceblue;
    font-family: "High Tower Text";
}

.info > img {
    width: 650px;
    height:500px;
    border-radius: 0%;
}